.title-div {
  margin-bottom: 70px;
}
.title-div p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #000;
  margin-top: 30px;
  font-size: 17px;
}
.banner-bottom-w3l, .agileits-services, .contact, .team, .what-w3ls{
  padding: 5em 0;
}
h3.tittle {
  color: #232323;
  font-size: 58px;
  text-align: center;
  letter-spacing: 1px;
}
h3.tittle span {
  color: #56d25b;
}

.tittle-style:before {
  content: "";
  background: #000;
  width: 7%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 46%;
}
.tittle-style:after {
  content: "";
  background: #56d25b;
  width: 3%;
  height: 5px;
  position: absolute;
  top: -2px;
  left: 48%;
  border-radius: 6px;
}
.banner_bottom_left h4 {
  font-size: 33px;
  color: #232323;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.banner_bottom_left h4 span{
  color: #56d25b;
}
.banner_bottom_left {
  padding: 0 20px 0 30px;
  border-left: 2px solid #000;
  height:240px;
  position: relative;
}
h6.w3l-style {
  color: #56d25b;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
  position: absolute;
  bottom: -37%;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  left: -11.5%;
}
.stats-info-agile {
  background: url("/img/a3.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 390px;
  padding:0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(10, 10, 10, 0.47);
  -moz-box-shadow: 0px 3px 5px 0px rgba(10, 10, 10, 0.47);
  box-shadow: 0px 3px 5px 0px rgba(10, 10, 10, 0.47);
}
.stats-info-agile p {
  color: #000;
  font-size: 16px;
}
.w3l-right-stats {
  background: #56d25b;
  width: 33%;
  float: right;
  text-align: center;
}
.stats-grid {
  padding: 2em 0;
}
.numscroller {
  font-size: 58px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Rasa', serif;
  line-height: 1;
}
.agileits-services-grids:nth-child(1) .wthree-ser i {
  color: #ff4f81;
  border: 1px solid #ff4f81;
}
.agileits-services-grids:nth-child(2) .wthree-ser i {
  color: #ffc168;
  border: 1px solid #ffc168;
}
.agileits-services-grids:nth-child(3) .wthree-ser i{
  color: #0079c1;
  border: 1px solid #0079c1;
}
.agileits-services-grids p {
  margin-top: 30px;
}
.agileits-services-grids:nth-child(1) a.w3-buttons {
  background:#ff4f81;
}
.agileits-services-grids:nth-child(2) a.w3-buttons {
  background: #ffc168;
}
.agileits-services-grids:nth-child(3) a.w3-buttons{
  background: #0079c1;
}
.agileits-services-grids {
  padding: 30px !important;
  width: 32%;
  transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
.agileits-services-grids:hover{
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.18);
  box-shadow:0px 1px 4px 1px rgba(0, 0, 0, 0.18);
  transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
}
.agileits-services-grids:nth-child(2) {
  /* margin: 0 22px; */
}
.agileits-services-row-2{
  margin-top:40px;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(1) .wthree-ser i {
  color: #0079c1;
  border: 1px solid #0079c1;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(2) .wthree-ser i {
  color: #ff4f81;
  border: 1px solid #ff4f81;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(3) .wthree-ser i{
  color: #ffc168;
  border: 1px solid #ffc168;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(1) a.w3-buttons {
  background:#0079c1;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(2) a.w3-buttons {
  background: #ff4f81 ;
}
.agileits-services-row-2 .agileits-services-grids:nth-child(3) a.w3-buttons{
  background: #ffc168;
}
.agileits-services-grids a.w3-buttons:hover, .agileits-services-row-2 .agileits-services-grids a.w3-buttons:hover {
  background:#56d25b;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
   transition: 0.5s all;
}
.wthree-ser{
  padding:0;
}
.wthree-ser i {
  font-size: 40px;
  color:#000;
  border: 1px solid #000;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 1.7;
  border-radius: 50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius: 50%;
  -moz-border-radius:50%;
}
.wthree-ser i {
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 1.9;
}
.wthree-heading h4 {
  font-size: 30px;
  color: #333;
  letter-spacing: 1px;
  margin-top: 18px;
}
.wthree-heading h4 {
  font-size: 24px;
  margin-top: 21px;
}
.wthree-heading {
  padding: 0 0 0 1em;
}
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
	font-size:15px;
	color:#999;
	line-height:1.8em;
}
a.w3-buttons {
  color: #fff;
  padding: 12px 34px;
  background: #000;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 40px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
.banner-bottom-w3l, .agileits-services, .contact, .team, .what-w3ls{
  padding: 5em 0;
}
.map{
  float:right;
}
.contact_grids_info {
  width: 80% !important;
  float:right;
}
/*-- //contact address --*/
/*-- map --*/
.map iframe {
width: 100%;
  min-height: 400px;
  border:0;
}
.map {
padding: 0;
}
.contact_grids_info {
  width: 40%;
  float:right;
}
h5.small-title {
  font-size: 34px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.contact_grid_right h4 {
  font-size: 25px;
  color: #56d25b;
  margin-bottom: 16px;
}
.address-row {
  margin-top: 35px;
}
.address-row i{
  font-size: 20px;
  color: #000;
}
.address-row h5 {
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}
.address-row p a {
  color:#999;
}
.address-row p a:hover{
  color: #56d25b;
}
.form-bg form {
  width: 85%;
  float: right;
}
.form-bg input[type="text"], .form-bg input[type="email"], .form-bg textarea {
  width: 100%;
  padding: 11px 16px;
  border: none;
  color: #000;
  outline: none;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.form-bg input[type="text"],
.form-bg input[type="email"] {
margin-bottom: 1em;
}
.form-bg textarea {
resize: none;
height: 100px;
}
.form-bg input[type="submit"] {
  background: #56d25b;
  color: #ffffff;
  font-size: 14px;
  margin-top: 30px;
  border: 1px solid #fff;
  outline: none;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px 0;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
}
.form-bg input[type="submit"]:hover {
background: #ffffff;
color: #000;
}
.form-bg {
padding: 4em !important;
  background: #252525;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
}
.address-left-second {
  padding: 30px 0 0 80px !important;
}
.address-grids span.fa {
  color: #000;
  font-size: 23px;
  float: left;
  width: 60px;
  height: 60px;
  border: 2px solid #56d25b;
  text-align: center;
  line-height: 2.5;
}
.address-grids:nth-child(3), .address-grids:nth-child(5) {
  margin: 30px 0;
}
.contact-right p {
  font-weight: 600;
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
}
.contact-right span,
.contact-right a {
color: #999;
font-size: 15px;
line-height: 1.9;
/* letter-spacing: 1px; */
text-decoration: none;
}
.contact-right {
  padding-left: 2em;
  float: left;
  width: 65%;
}
.row{
  margin: 0px !important;
}
.team {
  background: url(/img/bg.jpg) no-repeat 0px 0px fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.team h3.tittle {
  color: #fff;
}
.team .tittle-style:before {
  background: #fff;
}
.team-info{
  position: relative;
  overflow: hidden;
}
.team-info img{
width:100%;
}
.team-caption h4{
  color: #fff;
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 1px;
}
.team-caption p{
color: #FFFFFF;
  font-size: .9em;
  margin: 0;
}
.team-caption ul{
  padding: 0;
  margin-top:20px;
}
.team-caption ul li{
  display: inline-block;
}
.team-caption ul li a {
color: #333;
  text-align: center;
}
.team-caption ul li a i{
  height: 34px;
  width: 34px;
  line-height: 30px;
  border: solid 2px #FFF;
  background: none;
  color: #FFF;
border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
  background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter:hover{
background: #55acee;
}
.team-caption ul li a i.fa.fa-rss:hover{
background: #f26522;
}
.team-caption {
  background: #56d25b;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
}
.team-info:hover .team-caption{
  background-color: transparent;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  bottom: auto;
}
.team-info:hover .team-caption h4{
color:#FFFFFF;
}
.team-info:before {
  background-color: rgba(0, 0, 0, 0.459);
  border: 3px solid #56d25b;
  bottom: 0;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.team-info:hover:before {
  opacity: 1;
}
.agileits-team-grid:nth-child(2), .agileits-team-grid:nth-child(4) {
  margin-top: 2em;
}
@media(max-width: 767px){

  h3{
    font-size: 30px !important;
  }
  p{
    font-size: 13px !important;
  }
  h4{
    font-size: 25px !important;
  }
  h5{
    font-size: 17px !important;
  }
  .banner-1{
    min-height: 400px!important;
  }
  .banner-2{
    min-height: 400px!important;
  }
  .banner-3, .banner-view, .banner-top1{
    min-height: 400px!important;
  }
  h2 a{
    font-size: 50px !important;
  }
  .logo2 h2 a{
    font-size: 35px !important;
  }
  .w3ls-social-icons-2{
    margin-right: 15%;
  }
  .contact_grids_info {
    width: 100% !important;
    float:right;
  }
  .w3ls-social-icons-2{
    padding: 30px 40px 30px 90px;
  }
}
@media(max-width: 374px){
  p{
    font-size: 7px !important;
  }
  h4{
    font-size: 20px !important;
  }
  h5{
    font-size: 13px !important;
  }
  h3{
    font-size: 30 !important;
  }
  h2 a{
    font-size: 40px !important;
  }
  .logo2 h2 a{
    font-size: 30px !important;
  }
}
